.categories {}

.categories_row{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.categories_list {
    display: flex;
    align-items: center;
    gap: 32px;
    // margin: 0 auto;
}

.categories_filter {}