.searchbar {
    height: 48px;
    padding: 8px;

    display: flex;
    align-items: center;
    // gap: 10px;

    border: 1px solid #ddd;
    border-radius: 40px;
    // width: 352px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}

.searchbar_btns-wrapper {
    display: flex;
    align-items: center;
}

.searchbar_btn:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

.searchbar_btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: var(--accent);
    border-radius: 50%;
}